/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Eina";
  src: url("/fonts/Eina.otf");
  font-display: swap;
}


@font-face {
  font-family: "Eina Light";
  src: url("/fonts/Eina-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "Eina SemiBold";
  src: url("/fonts/Eina-SemiBold.otf");
  font-display: swap;
}

@layer base {
  p, h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, .8);
    font-family: Eina;
  }
}

.Toastify__progress-bar--default {
  background: #89bdf9 !important;
}




/* .target::-webkit-scrollbar {
  width: 5px !important;
} */

/* Track */
.target::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.target::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
.target::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lsd:nth-child(odd) {background: rgba(186, 185, 255, 0.192)}

.mediabg {
 background-color: whitesmoke ;
}
 
@media only screen and (max-width: 767px) {
  .mediabg {
    background-color: white ;
    }
}

.multiple-colors {
  font-size: 11px;
  background: -webkit-linear-gradient(45deg,red, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}